In [2]:
import pandas as pd
import numpy as np

df = pd.read_excel(r'C:\Users\jvssu\Downloads\P6-SuperStoreUS-2015.xlsx')
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,19842,High,0.01,10.90,7.46,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-116.7600,18,207.31,87536
1948,19843,High,0.10,7.99,5.03,3397,Andrea Shaw,Regular Air,Small Business,Technology,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-160.9520,22,143.12,87536
1949,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Des Plaines,60016,2015-03-29,2015-03-31,-41.8700,5,59.98,87534
1950,24911,Medium,0.10,9.38,4.93,3400,Florence Gold,Express Air,Small Business,Furniture,...,East,West Virginia,Fairmont,26554,2015-04-04,2015-04-04,-24.7104,15,135.78,87537
1951,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2015-02-08,2015-02-11,349.4850,5,506.50,87530

In [24]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838

In [3]:
df.shape

(1952, 25)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1952 entries, 0 to 1951
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   datetime64[ns]
 20  Ship Date             1952 non-null   datetime64[ns]
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 381.4+ KB

In [25]:
df.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
count,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000,1936.000000,1952.000000,1952,1952,1952.000000,1952.000000,1952.000000,1952.000000
mean,19916.479508,0.048975,109.079221,12.968151,1735.376537,0.515186,51534.769467,2015-03-29 01:21:08.852459008,2015-03-30 23:55:34.426229248,114.793859,12.944672,985.828832,82365.924180
min,64.000000,0.000000,1.140000,0.490000,3.000000,0.350000,1001.000000,2015-01-01 00:00:00,2015-01-02 00:00:00,-16476.838000,1.000000,2.250000,359.000000
25%,19121.000000,0.020000,6.480000,3.230000,875.000000,0.380000,28560.000000,2015-02-11 00:00:00,2015-02-13 00:00:00,-84.485400,5.000000,58.807500,86767.750000
50%,21164.500000,0.050000,20.990000,6.150000,1738.000000,0.525000,48765.500000,2015-03-27 12:00:00,2015-03-29 00:00:00,1.476450,10.000000,202.395000,88376.000000
75%,23483.250000,0.080000,100.972500,14.362500,2578.250000,0.590000,78550.000000,2015-05-15 00:00:00,2015-05-16 00:00:00,116.201575,16.000000,802.945000,89957.000000
max,26389.000000,0.210000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,2015-06-30 00:00:00,2015-07-08 00:00:00,9228.225600,167.000000,45737.330000,91586.000000
std,5957.595627,0.031378,393.481301,17.414631,991.078006,0.137055,29362.828420,NaN,NaN,1141.112387,13.871565,2559.900167,19042.295798

In [31]:
df.describe(include='all')

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
count,1952.000000,1952,1952.000000,1952.000000,1952.000000,1952.000000,1952,1952,1952,1952,...,1952,1952,1952,1952.000000,1952,1952,1952.000000,1952.000000,1952.000000,1952.000000
unique,NaN,6,NaN,NaN,NaN,NaN,1130,3,4,3,...,4,49,869,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Low,NaN,NaN,NaN,NaN,Jenny Gold,Regular Air,Corporate,Office Supplies,...,Central,California,New York City,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,398,NaN,NaN,NaN,NaN,9,1437,684,1071,...,566,214,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,19916.479508,NaN,0.048975,109.079221,12.968151,1735.376537,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,51534.769467,2015-03-29 01:21:08.852459008,2015-03-30 23:55:34.426229248,114.793859,12.944672,985.828832,82365.924180
min,64.000000,NaN,0.000000,1.140000,0.490000,3.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1001.000000,2015-01-01 00:00:00,2015-01-02 00:00:00,-16476.838000,1.000000,2.250000,359.000000
25%,19121.000000,NaN,0.020000,6.480000,3.230000,875.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28560.000000,2015-02-11 00:00:00,2015-02-13 00:00:00,-84.485400,5.000000,58.807500,86767.750000
50%,21164.500000,NaN,0.050000,20.990000,6.150000,1738.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48765.500000,2015-03-27 12:00:00,2015-03-29 00:00:00,1.476450,10.000000,202.395000,88376.000000
75%,23483.250000,NaN,0.080000,100.972500,14.362500,2578.250000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,78550.000000,2015-05-15 00:00:00,2015-05-16 00:00:00,116.201575,16.000000,802.945000,89957.000000
max,26389.000000,NaN,0.210000,6783.020000,164.730000,3403.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,99362.000000,2015-06-30 00:00:00,2015-07-08 00:00:00,9228.225600,167.000000,45737.330000,91586.000000
std,5957.595627,NaN,0.031378,393.481301,17.414631,991.078006,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,29362.828420,NaN,NaN,1141.112387,13.871565,2559.900167,19042.295798

In [5]:
df.isnull()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1948,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1949,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1950,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1951,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
df.isnull().sum()

Row ID                   0
Order Priority           0
Discount                 0
Unit Price               0
Shipping Cost            0
Customer ID              0
Customer Name            0
Ship Mode                0
Customer Segment         0
Product Category         0
Product Sub-Category     0
Product Container        0
Product Name             0
Product Base Margin     16
Country                  0
Region                   0
State or Province        0
City                     0
Postal Code              0
Order Date               0
Ship Date                0
Profit                   0
Quantity ordered new     0
Sales                    0
Order ID                 0
dtype: int64

In [34]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(' ', '_')
      .str.replace('/', '_')
)
df.columns

Index(['row_id', 'order_priority', 'discount', 'unit_price', 'shipping_cost',
       'customer_id', 'customer_name', 'ship_mode', 'customer_segment',
       'product_category', 'product_sub-category', 'product_container',
       'product_name', 'product_base_margin', 'country', 'region',
       'state_or_province', 'city', 'postal_code', 'order_date', 'ship_date',
       'profit', 'quantity_ordered_new', 'sales', 'order_id'],
      dtype='object')

In [6]:
df.duplicated().sum()

0

In [7]:
if 'row_id' in df.columns:
    print("Duplicate row_id:", df['row_id'].duplicated().sum())

In [40]:
df.drop_duplicates()

,row_id,order_priority,discount,unit_price,shipping_cost,customer_id,customer_name,ship_mode,customer_segment,product_category,...,region,state_or_province,city,postal_code,order_date,ship_date,profit,quantity_ordered_new,sales,order_id
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,19842,High,0.01,10.90,7.46,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-116.7600,18,207.31,87536
1948,19843,High,0.10,7.99,5.03,3397,Andrea Shaw,Regular Air,Small Business,Technology,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-160.9520,22,143.12,87536
1949,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Des Plaines,60016,2015-03-29,2015-03-31,-41.8700,5,59.98,87534
1950,24911,Medium,0.10,9.38,4.93,3400,Florence Gold,Express Air,Small Business,Furniture,...,East,West Virginia,Fairmont,26554,2015-04-04,2015-04-04,-24.7104,15,135.78,87537
1951,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2015-02-08,2015-02-11,349.4850,5,506.50,87530

In [41]:
df.isna().sum()

row_id                   0
order_priority           0
discount                 0
unit_price               0
shipping_cost            0
customer_id              0
customer_name            0
ship_mode                0
customer_segment         0
product_category         0
product_sub-category     0
product_container        0
product_name             0
product_base_margin     16
country                  0
region                   0
state_or_province        0
city                     0
postal_code              0
order_date               0
ship_date                0
profit                   0
quantity_ordered_new     0
sales                    0
order_id                 0
dtype: int64

In [44]:
critical_cols = ['row_id', 'order_id', 'customer_id']
for col in critical_cols:
    if col in df.columns:
        df = df[df[col].notna()]
cat_cols = df.select_dtypes(include=['object']).columns
df[cat_cols] = df[cat_cols].fillna('Unknown')

# c) For numeric columns: fill with median
num_cols = df.select_dtypes(include=[np.number]).columns
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

print("Missing values after handling:")
print(df.isna().sum())

Missing values after handling:
row_id                  0
order_priority          0
discount                0
unit_price              0
shipping_cost           0
customer_id             0
customer_name           0
ship_mode               0
customer_segment        0
product_category        0
product_sub-category    0
product_container       0
product_name            0
product_base_margin     0
country                 0
region                  0
state_or_province       0
city                    0
postal_code             0
order_date              0
ship_date               0
profit                  0
quantity_ordered_new    0
sales                   0
order_id                0
dtype: int64

In [47]:
#5. Fix data types
# -----------------------------

# Convert dates
for date_col in ['order_date', 'ship_date']:
    if date_col in df.columns:
        df[date_col] = pd.to_datetime(df[date_col], errors='coerce')

# Convert some columns to category type
cat_like = [
    'order_priority', 'ship_mode', 'customer_segment',
    'product_category', 'product_sub-category', 'product_container',
    'country', 'region', 'state_or_province', 'city'
]
for col in cat_like:
    if col in df.columns:
        df[col] = df[col].astype('category')

# Ensure numeric columns are numeric
numeric_like = ['discount', 'unit_price', 'shipping_cost',
                'product_base_margin', 'profit', 'quantity_ordered_new', 'sales']
for col in numeric_like:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

In [52]:
# -----------------------------
# 6. Feature engineering
# -----------------------------

# a) Shipping time (days)
if {'order_date', 'ship_date'}.issubset(df.columns):
    df['shipping_days'] = (df['ship_date'] - df['order_date']).dt.days

# b) Profit margin (profit as % of sales)
if {'profit', 'sales'}.issubset(df.columns):
    df['profit_margin_pct'] = np.where(
        df['sales'] != 0,
        (df['profit'] / df['sales']) * 100,
        np.nan
    )

# c) Year, month, weekday from order_date
if 'order_date' in df.columns:
    df['order_year'] = df['order_date'].dt.year
    df['order_month'] = df['order_date'].dt.month
    df['order_dayofweek'] = df['order_date'].dt.day_name()

In [53]:
# -----------------------------
# 7. Basic sanity checks
# -----------------------------
print(df[['sales', 'profit', 'discount', 'unit_price']].describe())

# Example: remove negative sales if any (business rule)
df = df[df['sales'] >= 0]

# -----------------------------
# 8. Save cleaned data
# -----------------------------
clean_path = r'C:\Users\jvssu\Downloads\P6-SuperStoreUS-2015_clean.csv'
df.to_csv(clean_path, index=False)
print("Cleaned data saved to:", clean_path)

              sales        profit     discount   unit_price
count   1952.000000   1952.000000  1952.000000  1952.000000
mean     985.828832    114.793859     0.048975   109.079221
std     2559.900167   1141.112387     0.031378   393.481301
min        2.250000 -16476.838000     0.000000     1.140000
25%       58.807500    -84.485400     0.020000     6.480000
50%      202.395000      1.476450     0.050000    20.990000
75%      802.945000    116.201575     0.080000   100.972500
max    45737.330000   9228.225600     0.210000  6783.020000
Cleaned data saved to: C:\Users\jvssu\Downloads\P6-SuperStoreUS-2015_clean.csv